name: MLflow CI Training

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  train-model:
    runs-on: ubuntu-latest
    steps:
      # 1. Checkout repository
      - name: Checkout repository
        uses: actions/checkout@v3

      # 2. Setup Python
      - name: Set up Python 3.12
        uses: actions/setup-python@v4
        with:
          python-version: 3.12.7

      # 3. Check Python version
      - name: Check Python version
        run: python --version

      # 4. Install dependencies
      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r MLProject/requirements.txt
          pip install mlflow==2.19.0

      # 5. Set MLflow Tracking URI
      - name: Set MLflow Tracking URI
        run: |
          echo "MLFLOW_TRACKING_URI=http://127.0.0.1:5000" >> $GITHUB_ENV

      # 6. Run MLflow project
      - name: Run MLflow project
        run: mlflow run MLProject --entry-point main --param-list input_path=MLProject/coffeshop_preprocessing.csv

      # 7. Upload artefacts (Skilled: bisa diganti dengan Google Drive/GitHub LFS)
      - name: Upload artefacts
        uses: actions/upload-artifact@v3
        with:
          name: mlflow-artifacts
          path: MLProject/artifacts

      # 8. Post step
      - name: Workflow complete
        run: echo "MLflow CI workflow completed"
