name: MLflow CI Training

on:
  push:
    branches: [ main ]

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Python 3.12.7
      uses: actions/setup-python@v5
      with:
        python-version: '3.12.7'

    - name: Install Miniconda
      uses: conda-incubator/setup-miniconda@v3
      with:
        auto-update-conda: true
        activate-environment: base
        python-version: 3.12
        auto-activate-base: true

    - name: Check Conda
      shell: bash
      run: |
        conda --version
        which conda

    - name: Install MLflow
      shell: bash
      run: |
        pip install --upgrade pip
        pip install mlflow==2.19.0

    - name: Run MLflow Project
      shell: bash
      run: |
        mlflow run MLProject \
          --env-manager=conda \
          --entry-point main \
          -P input_path=MLProject/coffeshop_preprocessing.csv
