name: MLflow CI Training

on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    # 1️⃣ Checkout repository
    - name: Checkout repository
      uses: actions/checkout@v3

    # 2️⃣ Setup Python
    - name: Set up Python 3.12.7
      uses: actions/setup-python@v4
      with:
        python-version: 3.12.7

    # 3️⃣ Upgrade pip
    - name: Upgrade pip
      run: python -m pip install --upgrade pip

    # 4️⃣ Install dependencies
    - name: Install dependencies
      run: |
        pip install -r MLProject/requirements.txt
        pip install mlflow==2.19.0

    # 5️⃣ Set MLflow tracking URI
    - name: Set MLflow Tracking URI
      run: echo "MLFLOW_TRACKING_URI=http://127.0.0.1:5000" >> $GITHUB_ENV

    # 6️⃣ Run MLflow Project
    - name: Run MLflow Project
      run: mlflow run MLProject --entry-point main --param-list input_path=MLProject/coffeshop_preprocessing.csv

    # 7️⃣ Upload MLflow artifacts to GitHub Actions artifacts
    - name: Upload MLflow Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: mlflow-artifacts
        path: MLProject/mlruns
