name: MLflow CI Training

on:
  push:
    branches: [main]
  workflow_dispatch:

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r MLProject/requirements.txt

      - name: Set MLflow Tracking URI
        run: |
          export MLFLOW_TRACKING_URI=http://127.0.0.1:5000

      - name: Run MLflow Project
        run: |
          mlflow run MLProject
